{
  "presets": ["flow", "react"],
  "plugins": [
//    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    ["transform-class-properties", {"spec": true}],
    ["react-flow-props-to-prop-types"]
  ]
}
