{
    "parser": "babel-eslint",
    "plugins": ["flowtype", "react"],
    "extends": ["standard", "plugin:flowtype/recommended"],
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "semi": [2, "always"],
        "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 5, "maxBOF": 0 }]
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    }
}
